<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="C:\Users\aloc\Source\Projecto\TournamentTracker\TextConnector"/>
	</appSettings>
	<connectionStrings>
		<add name ="Tournaments" connectionString="For safety purposed this was cut from the solution deployed to GitHub"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>
